{% extends "pages/abstract/main.html.twig" %}

{% set page_title = "Events" %}
{% set page_description = "Upcoming events" %}
{% set page_canonical = "https://wwlrc.co.uk/sponsors" %}

{% block content %}

<h3>Events</h3>

<p>
TODO
</p>

{% endblock %}