{% extends "pages/abstract/main.html.twig" %}

{% set page_title = "Home" %}
{% set page_description = "Welcome to the Wye & Welsh Land Rover Club website. Visit this website to see the latest news, events and photos." %}
{% set page_canonical = "https://wwlrc.co.uk/" %}

{% block content %}

<h3>{{page_title}}</h3>

{% endblock %}