{% extends "pages/abstract/main.html.twig" %}

{% set page_title = "Home" %}
{% set page_description = "Welcome to the Wye & Welsh Land Rover Club website. Visit this website to see the latest news, events and photos." %}
{% set page_canonical = "https://wwlrc.co.uk/" %}

{% block content %}
<p>
<h3>{{page_title}}</h3>

Welcome to the Wye & Welsh Land Rover Club website. Visit this website to see the latest news and events.<br>

<br>Do you have an interest in off-roading motorsport? Do you own, or just have an enthusiastic interest in Land Rovers? If you live in South Wales, the Wye Valley, or in the surrounding Area then this could be the club for you.<br>
</p>

<h4>Latest News</h4>
<p>
TODO
</p>

{% endblock %}