{% extends "pages/abstract/main.html.twig" %}

{% set page_title = "Join" %}
{% set page_description = "Welcome to the Wye & Welsh Land Rover Club website. Visit this website to see the latest news, events and photos." %}
{% set page_canonical = "https://wwlrc.co.uk/join" %}

{% block content %}

<h3>Join</h3>

{% endblock %}