{% extends "pages/abstract/main.html.twig" %}

{% set page_title = "Sponsors" %}
{% set page_description = "Welcome to the Wye & Welsh Land Rover Club website. Visit this website to see the latest news, events and photos." %}
{% set page_canonical = "https://wwlrc.co.uk/sponsors" %}

{% block content %}

<h3>Sponsors</h3>

{% endblock %}