
    <nav class="navbar navbar-expand-md navbar-light navbar-custom {{ breakpoints }}">
        <a class="navbar-brand" href="./">
            <img src="images/logo.gif" class="d-inline align-self-start" style="height: 3em;">
            <span class="d-inline-block" style="vertical-align:middle;; margin-left: 10px;">
                Wye & Welsh<br>Land Rover Club
            </span>
        </a>
        
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-2">
                <li class="nav-item m-2 {% if page_title == "Home" %}active{% endif %}">
                    <a class=" nav-custom nav-link" href="./">Home</a>
                </li>
                <li class="nav-item m-2 {% if page_title == "Join" %}active{% endif %}">
                    <a class=" nav-custom nav-link" href="./join">Join</a>
                </li>
                <li class="nav-item m-2" >
                    <a class=" nav-custom nav-link" target="_blank" href="https://spanner.wwlrc.co.uk/">Events</a>
                </li>
                <li class="nav-item m-2">
                    <a class=" nav-custom nav-link" href="https://spanner.wwlrc.co.uk/account/sign-in">Login</a>
                </li>
            </ul>
        </div>
    </nav>
