<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/logo.gif" class="d-inline align-self-start" style="height: 3em;">
            <span class="d-inline-block" style="vertical-align:middle;; margin-left: 10px;">
                Wye & Welsh<br>Land Rover Club
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if page_title == "Home" %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_title == "About" %}active{% endif %}" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_title == "Join" %}active{% endif %}" aria-current="page" href="/join">Join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_title == "Sponsors" %}active{% endif %}" aria-current="page" href="/sponsors">Sponsors</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if page_title == "Events" %}active{% endif %}" aria-current="page" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" aria-current="page" href="https://spanner.wwlrc.co.uk/account/sign-in">Login <i class="bi bi-escape"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    
