name: deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build with Next.js
        run: bun run build
      - name: Add .htaccess
        run: cp deployment/htaccess.txt out/.htaccess
      - name: Install lftp
        run: sudo apt-get install lftp
      - name: Upload
        run: |
          lftp -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_HOST}} << EOF
            set ftp:ssl-allow yes;
            set ftp:ssl-force yes;
            set ftp:ssl-protect-data true;
            mirror -c -e -R --delete --no-perms --parallel=5 --verbose ./out/ ./;
            quit
          EOF
